* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1e357b, #39114d);
}

.box {
    padding: 10vh;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

h1 {
    font-family: sans-serif;
    color: #243861;
    margin: 0 1rem 0rem 1rem;
    font-size: 2rem;
}

.icon {
    width: 2rem;
}

.main-bar {
    display: flex;
}

.input-bar {
    margin-top: 1.5rem;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #ebedee;
    border: none;
    border-radius: 10rem;
    justify-content: flex-end;
    align-items: center;
}

#input {
    outline: none;
    font-family:sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    width: 78%;
    height: 100%;
    border: none;
    background-color: transparent;
}

#mainBtn {
    font-family: sans-serif;
    color: white;
    font-size: 1.3rem;
    width: 10rem;
    height: 100%;
    border-radius: 10rem;
    border: none;
    background-color: #ff643b;
    cursor: pointer;
    border: 0.2px solid grey;
    transition: transform 0.2s ease;;
    
}

#mainBtn:hover {
    transform: scale(1.08);
}

ul {
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #f9f9f9;
    list-style-type: none;
    border-radius: 10px;
}

ul li {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.image {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 2px;
    cursor: pointer;
    transition: transform 0.2s ease;;
}

.image:hover {
    transform: scale(1.2);
}

.checkbox {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;;
}

.checkbox:hover {
    transform: scale(1.1);
}

.done {
    text-decoration: line-through;
    color: gray;
}

.taskText {
    cursor: pointer; 
    text-wrap: wrap;   
}

.taskText:hover {
    cursor: pointer;    
}

.edit-input {
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin: 0 10px;
  }
  
  .edit-input:focus {
    outline: none;
  }
